<section class="get-started">
  <div class="container">
    <div class="row">
      <div class="text-center title">
        <h3>Let's get started!</h3>
        <h3>First, tell us what you're looking for.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-5 text-center">
        <div class="text-muted">
          <div><i class="fa fa-users fa-4x" aria-hidden="true"></i></div>
          <div class="selection">I want to hire</div>
        </div>
        <p class="description">
          Find the best
          <br>
          developers and assistants.
        </p>
        <a class="btn btn-primary text-capitalize" (click)="hireSelected()">Hire</a>
      </div>
      <div class="col-2 divider text-center">OR</div>
      <div class="col-5 text-center">
        <div class="text-muted">
          <div><i class="fa fa-user-circle-o fa-4x" aria-hidden="true"></i></div>
          <div class="selection">
            I'm looking for job
          </div>
        </div>
        <p class="description">
          I want to become
          <br>
          a professional assistant/developer
        </p>
        <a class="btn btn-primary text-capitalize" (click)="workSelected()">Work</a>
      </div>
    </div>
  </div>
</section>
